@import "tailwindcss";
/* @import './fonts.css';
@import './tailwind.css';
@import './theme.css'; */

@theme {
  --font-sans: 'Roboto', system-ui, sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-gold: #C9A24D;
}

@layer utilities {
  .grid-cols-70\/30 { 
    grid-template-columns: 70% 28%; 
  }
}